# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Execoin Client
Exec=electrum-exe %u
GenericName[en_US]=Electrum-EXE
GenericName=Electrum-LTC
Icon=/usr/share/app-install/icons/electrum-exe.png
Name[en_US]=Electrum Execoin Wallet
Name=Electrum Execoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/execoin

